<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
  <title>Roblox for Noobs</title>


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/css/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="icon" href="https://img.icons8.com/color/48/000000/roblox.png"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"> </script>
  <script src= "https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>  
</head>
<body style = "background-color: rgb(61,59,59);">
<br>
<div class="container" >  
  <div class="row" style="width:1130px;">
    <nav class="nav navbar-custom"  style="width:1130px;">
      <a class="navbar-brand" href="/Home">Home</a>
      <a class="navbar-brand" href="/abtProject">About the Project</a>
      <a class="navbar-brand" href="/abtTeam">Meet the Team</a>
      <a class="navbar-brand" href="/index">Try your own game !</a>
    </nav>
  </div>  
  <br>
  <div class = "row">
    <img class="rounded mx-auto d-block" src="../static/Images/logo.jpg"  alt="Roblox LOGO">
 </div>

    <div class="row" style="padding: 10pt;"></div>
    <div class = "row" style="border: rgb(113, 141, 138); border-style: solid; border-width: thick; padding: 5px; background-color:whitesmoke;" >
      <h1> <p style="text-align:center">Meet the Team </p><br> We are a group of 4 students from the University of Denver Data Analytics program that came togetherin collaboration to build this site.  We thought this would be a productive and useful project to help you learn, have fun and get inside knowledge into the world of Roblox.</h1>

      <br>
      <ul style="text-align: left; color:rgb(133,8,8)">
        <h2>
        <li>Alyson Amtman</li>
        <p> Alyson is an established Surgical Neurophysiologist with a zest for learning and is enthusiastic about moving forward in this world of data analytics.</p>
        <li>Felix Pronove</li>
        <p>Felix is a former gamer turned business analyst who spent countless hours going through game manuals  and tutorials to beat games on the easiest difficulty. He combines his kid-like joyfulness into all problems he attempts to solve</p>
        <li>Kim Christensen</li>
        <p>Kim is a financial analyst with a passion for researching and finding the story in the data. </p>
        <li>Swati Oberoi Dham</li>
        <p>A passionate software engineer and educator, Swati loves to teach fine nuances of programming to young minds. Teaching video game designing is her favorite and that's where the tiny Roblox seed got planted.</p>
        <li>Sara Kayhan</li>
        <p>Aspiring data engineer with a penchant for solving today's most pressing problems.  Self-proclaimed "gamer" aka nerd.</p>
        <li>Aishwarya Rao</li>
        <p>A believer in everything “technology” with creative and analytical insight to drive it.</p>
        <li>Joey Riebel</li>
        <p>Joey is a recent graduate from Colorado State University with a passion for interpreting data into meaningful stories.</p>
              
      </ul>
    </h2>
    </div>

  </div>
  <div class = "row" style="padding: 10pt;">
    <img class="rounded mx-auto d-block" src="../static/Images/roblox_team.png"  alt="Roblox team">
 </div>



  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.2/js/umd/util.js"></script>
 
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  < -->
  <script src="./static/js/app.js"></script>
  <!-- <script src="./static/js/bonus.js"></script> -->
  <!-- <script src="samples.json"></script> -->
  
</body>

</html>
